langchain
langchain-core
langchain-community

langgraph

langchain-groq

langchain-huggingface

faiss-cpu

sentence-transformers

transformers

torch

rank-bm25

scikit-learn

numpy

nltk

pymupdf

unstructured

python-docx

python-dotenv

tqdm